{% extends "base.html" %}

{% block content %}
  <h3>Car Info</h3>
  <p>Car Manufacturer: {{ car.manufacturer.name }} from {{ car.manufacturer.country }}</p>

  {% if drivers %}
    <h3>All car drivers:</h3>
    <table class="table">
      <tr>
        <th>id</th>
        <th>username</th>
      </tr>
      {% for driver in drivers %}
        <tr>
          <td>{{ driver.id }}</td>
          <td>{{ driver.username }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no driver</p>
  {% endif %}
{% endblock %}
